body{
    /*background: rgb(173, 216, 230);*/
    /*background: rgb(128, 144, 160); /*cool grey*/
    /*background: rgb(64, 64, 64);*/ /*charcoal*/
    background: rgb(70, 70, 70); /*steel grey*/
    /*background: rgb(112, 128, 144)*/ /*slate grey*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: white;
}

.paragraph{
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    

}

@media screen and (max-width: 1200px){
    .paragraph{
        margin-left: 150px;
        margin-right: 150px;
        text-align: center;
    }
}

@media screen and (max-width: 800px){
    .paragraph{
        margin-left: 70px;
        margin-right: 70px;
        text-align: center;
    }
}

.paragraph p {
    margin-top: 20px;
    /*background-color: rgb(0, 102, 204);*/
    border: 2px rgb(250, 250, 250);
    box-shadow: 0px 2px 10px 0px rgb(0, 0, 0);
    color: rgb(226, 215, 215);
    border-radius: 5px;
}

/*
    Image of myself
*/

.self-image{
    /*changes margins of picture here*/
    margin-top: 80px;
}

.self-image img{
    height: 180px;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;   
    padding-right: -300px;
    padding-left: -300px;
    /* box-shadow: 0px 0px 5px 1px rgb(107, 103, 103) 
    Looks too much like I'm popping out of the screen
    */
}

.self-image img:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
}


/*
    images below self-image
*/

.media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.media ul li {
    display: inline-flex;
    text-decoration: none;
    margin-right: 20px;
}

.media ul li:last-child {
    margin-right: 35px; 
    /* moves right image over and all images with it, thus centering the
    3 images on the self-image*/
}

.media ul li a {
    text-decoration: none;
}

.media ul li a img{
    height: 25px;
}

.media ul li a img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}


/*
    Divider
*/
.divided{
    display: flex;
    flex-direction: column;
}

.divider{
    flex-grow: 1;
    border-bottom: 1px solid white;
    margin-top: 40px;
    margin-left: 250px;
    margin-right: 250px
    /* this takes precedence, so when we go over 1200px,
    it's always 250px margins*/
}

@media screen and (max-width: 1200px){
    .divider{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (max-width: 800px){
    .divider{
        margin-left: 150px;
        margin-right: 150px;
    }
}

/*
    Footer
*/

footer nav ul { 
    
    margin-top: 80px;
    display: flex;
    list-style: none;
    justify-content: center;
}

footer nav ul li{ 
    margin-right: 20px;
}

footer nav ul li a{
    /*text-decoration: none;*/
    color: white;
}

footer nav ul li:hover{
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
}



